.a1-e {
    display: block;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    font-size: 14pt;
    border-radius: 5px;
    padding: 0.25em 1em;
    border: 1px solid white;
    max-width: 480px;
    text-align: center;
}
.a1-e:hover {
    box-shadow: 0 100px 0 rgba(255,255,255,0.75) inset, 0 20px 0 rgb(255,255,255) inset;
    color: #70869d;
}
.a1-e.darkmode:hover {
    color: #546a81;
}
.a1-p {
    display: block;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    font-size: 14pt;
    border-radius: 5px;
    padding: 0.25em 1em;
    border: 1px solid white;
    max-width: 480px;
    text-align: center;
}
.a1-p:hover {
    box-shadow: 0 100px 0 rgba(255,255,255,0.75) inset, 0 20px 0 rgb(255,255,255) inset;
    color: #546a81;
}
.a1m {
    margin: 0 auto 0.5em auto;
}

.a2 {
    display: block;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    font-size: 18pt;
    padding: 0 15px 0 15px;
    border: 2.5px solid white;
    border-radius: 5px;
}

.a2:hover {
    box-shadow: 0 100px 0 rgba(255,255,255,0.75) inset, 0 20px 0 rgb(255,255,255) inset, 0 0 12.5px rgba(0,0,0,1);
    color: black;
    padding: 0 30px 0 30px;
}

.a3 {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0 auto 0 auto;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 480px;
}
.a3:hover {
    color: #546a81;
    background-color: white;
}
.a3:hover.darkmode {
    color: #546a81;
}

.banner {
    display: block;
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background-image: url(images/banner/banner.png);
    background-position: 25% 12.5%;
    background-attachment: scroll;
    background-size: cover;
}

body {
    margin: 0;
    background-color: #70869d;
}
body.darkmode {
    background-color: #324354;
}

#darkmode {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0 auto 0 auto;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 480px;
}
#darkmode:hover {
    color: #546a81;
    background-color: white;
    cursor: pointer;
}

.desc {
    grid-column: col 1 / span 90;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    width: 75%;
    color: white;
    background-color: rgb(55,55,115);
    padding: 40px 0 0 35px;
    margin: 0 0 0 10px;
    border-radius: 500px;
}

.dFont {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid white;
    text-align: center;
    margin: 10px auto 0;
    width: 75%;
    max-width: 500px;
    display: block;
}
.dFont:hover {
    box-shadow: 0 100px 0 rgba(255,255,255,0.75) inset, 0 20px 0 rgb(255,255,255) inset, 0 0 12.5px rgba(0,0,0,1);
    border-radius: 5px;
    color: black;
    border: 2px solid transparent;
}

.exercises {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20pt;
    text-decoration: none;
    margin: 0;
    background-color: #70869d;
    padding: 0.5em 0 2em 0;
}
.exercises.darkmode {
    background-color: #324354;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    width: 100%;
    display: block;
    margin: 0;
    color: white;
    background-color: #70869d;
    padding: 1em 0;
}
footer.darkmode {
    background-color: #324354;
}

h1 {
    font-family: 'countach', sans-serif;
    font-size: 45pt;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    background-color: #546a81;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 20px 0 26px 0;
}
h1.darkmode {
    background-color: #324354;
}

h2 {
    color: white;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    text-align: center;
    font-size: 35px;
    margin: auto;
    width: 50%;
}

.h2Top {
    margin-top: 25px;
}

h3 {
    width: 90%;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin: auto;
    text-transform: uppercase;
}

ol {
    text-decoration: none;
    list-style-type: none;
}

.projects {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20pt;
    background-color: #546a81;
    padding: 0.5em 0 2em 0;
}
.projects.darkmode {
    background-color: #1f2b38;
}

.transFade {
    transition: 0.5s;
}

ul {
    text-decoration: none;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: contents;
    list-style-type: none;
}

@media only screen and (max-width: 1080px) {
    .banner {
        background-position: top;
    }
}