body {
    margin: 0;
}

.body1 {
    font-family: 'Urbane', sans-serif;
    font-weight: 100;
    font-size: 14pt;
    text-indent: 1.5em;
    text-align: justify;
    display: inline-block;
}
.body1:first-of-type {
    text-indent: 0;
}

.bodyCont {
    margin: 0 75px;
    display: grid;
    grid-template-columns: 'main main';
}

h1 {
    font-family: 'Urbane', sans-serif;
    font-weight: 600;
    font-size: 24pt;
    padding: 20px 0 20px 75px;
    margin: 0;
    color: white;
    background: black;
    width: 100%;
    display: inline-block;
}

h2 {
    font-family: 'Urbane', sans-serif;
    font-weight: 100;
    font-size: 14pt;
    text-indent: 75px;
    padding: 20px 0;
    margin: 10px 0 0 0;
    color: white;
    background: gray;
    width: 360px;
    display: inline-block;
}

.img1 {
    width: 100%;
    height: 360px;
    background-color: lightgray;
    display: grid;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .body1 {
        margin: 0 75px;
        margin-bottom: 2em;
        text-align: left;
        display: block;
    }
    
    .bodyCont {
        margin: 0;
    }
    
    h2 {
        padding: 0;
        margin: 0;
        display: block;
    }
    
    .img1 {
        position: relative;
        width: 100%;
        height: 480px;
        display: block;
    }
}