a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0 auto;
}
body.darkmode {
    margin: 0 auto;
    background-color: rgb(30,30,30);
    color: white;
}
body.gl {
    margin: 0 auto;
    font-weight: 600;
}

.body1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 14pt;
    text-indent: 0;
    text-align: left;
    text-justify: inter-character;
    line-height: 1.5em;
    display: inline-block;
    width: auto;
    hyphens: auto;
    -webkit-hyphens: auto;
}
.body1.gl {
    font-weight: 400;
    font-size: 150%;
}

.bodyColumn {
    column-count: 2;
    column-fill: balance;
    column-gap: 4em;
}

.bodyCont {
    margin: auto;
    display: block;
    max-width: 1000px;
}

button {
    text-decoration: inherit;
    border: inherit;
    padding: inherit;
    display: inherit;
    color: inherit;
    background-color: inherit;
}

.button1 {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 10px 0;
    margin: 0;
}

.button2 {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 10px 0;
}

.buttonActive {
    background: rgb(90,200,100);
    color: white;
}
.buttonActive:hover {
    background: rgb(110,220,120);
}
.buttonActive.darkmode {
    background: none;
    color: rgb(90,200,100);
    box-shadow: 0 2px rgb(90,200,100) inset, 2px 0 rgb(90,200,100) inset, 0 -2px rgb(90,200,100) inset, -2px 0 rgb(90,200,100) inset;
}
.buttonActive.darkmode:hover {
    background: rgb(90,200,100);
    color: white;
    box-shadow: none;
}

.buttonActive2 {
    background: rgb(200,75,75);
    color: white;
}
.buttonActive2:hover {
    background: rgb(220,95,95);
}
.buttonActive2.darkmode {
    background: none;
    color: rgb(220,95,95);
    box-shadow: 0 2px rgb(220,95,95) inset, 2px 0 rgb(220,95,95) inset, 0 -2px rgb(220,95,95) inset, -2px 0 rgb(220,95,95) inset;
}
.buttonActive2.darkmode:hover {
    background: rgb(220,95,95);
    color: white;
    box-shadow: none;
}

.buttonDM {
    display: block;
    position: absolute;
    width: 85px;
    height: 85px;
    color: white;
    cursor: pointer;
    background-color: rgb(70,180,80);
    overflow: hidden;
    font-size: 30pt;
}

.buttonDMimg {
    background-image: url(images/icons/icons-03.svg);
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}
.buttonDMimg:hover {
    background-image: url(images/icons/icons-04.svg);
    background-color: lightgray;
}
.buttonDMimg.darkmode {
    background-image: url(images/icons/icons-01.svg);
}
.buttonDMimg.darkmode:hover {
    background-image: url(images/icons/icons-02.svg);
    background-color: rgb(30,30,30);
}

.buttonGL {
    display: block;
    position: absolute;
    width: 85px;
    height: 85px;
    color: white;
    cursor: pointer;
    background-image: url(images/icons/icons-06.svg);
    background-color: rgb(90,200,100);
    overflow: hidden;
    font-size: 30pt;
    left: 85px;
}
.buttonGL:hover {
    background-image: url(images/icons/icons-07.svg);
    background-color: lightgray;
}
.buttonGL.darkmode {
}
.buttonGL.darkmode:hover {
    background-image: url(images/icons/icons-07.svg);
    background-color: rgb(30,30,30);
}
.buttonGL.gl {
    background-image: url(images/icons/icons-07.svg);
}

.buttonPassive {
    background: lightgray;
    color: white;
    cursor: not-allowed;
}
.buttonPassive.darkmode {
    background: none;
    color: gray;
    box-shadow: 0 2px gray inset, 2px 0 gray inset, 0 -2px gray inset, -2px 0 gray inset;
}

.buttonMargin {
    margin-bottom: 15px;
}

.caption {
    display: block;
    position: relative;
    font-family: 'Urbane', sans-serif;
    font-size: 10pt;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    color: gray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.caption.darkmode {
    color: lightgray;
}
.caption.gl {
    font-size: 150%;
}

.captionCred {
    display: inline-block;
    position: relative;
    background: rgb(90,200,100);
    font-style: normal;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    padding: 5px 25px;
    margin-left: 1em;
}
.captionCred:hover {
    background: rgb(190,190,190);
}
.captionCred.darkmode {
    background: none;
    color: rgb(90,200,100);
    border: 1px solid rgb(90,200,100);
}
.captionCred.darkmode:hover {
    background: rgb(90,200,100);
    color: white;
}

.cLink {
    display: inline-flex;
    text-align: center;
    align-items: center;
    padding: 0 30px;
    color: white;
    background-color: rgb(90,200,100);
}
.cLink.darkmode {
    background: none;
    color: rgb(90,200,100);
    box-shadow: 0 2px rgb(90,200,100) inset, 2px 0 rgb(90,200,100) inset, 0 -2px rgb(90,200,100) inset, -2px 0 rgb(90,200,100) inset;
}
.cLink.darkmode:hover {
    background: rgb(90,200,100);
    color: white;
    box-shadow: none;
}
.cLink.gl {
    font-size: 150%;
}

.creditsA {
    color: black;
    text-decoration: underline;
    width: screen;
    height: auto;
    align-self: center;
    margin: 0 15px;
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
}
.creditsA:hover {
    transition: 0.5s;
    text-decoration: none;
    color: white;
    background: rgb(90,200,100);
}
.creditsA.darkmode {
    color: white;
}

.creditsB {
    color: black;
    text-decoration: none;
    width: screen;
    height: auto;
    align-self: center;
    margin-left: 15px;
    display: inline-block;
}
.creditsB.darkmode {
    color: white;
}

.creditsC {
    color: black;
    text-decoration: none;
    width: screen;
    height: auto;
    align-self: center;
    display: inline-block;
    margin-left: 0.5em;
}
.creditsC.darkmode {
    color: white;
}

.creditsCont {
    display: flex;
    align-content: center;
    overflow: hidden;
    margin-top: 15px;
}

.creditsD {
    color: gray;
    text-decoration: none;
    width: auto;
    height: auto;
    align-self: center;
    display: inline-block;
}
.creditsD.darkmode {
    color: white;
}

.creditsDot {
    color: black;
    text-decoration: none;
    width: screen;
    height: auto;
    align-self: center;
    margin: 0;
    display: inline-block;
}
.creditsDot.darkmode {
    color: white;
}

.creditsDot2 {
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
}
.creditsDot2.darkmode {
    color: white;
}

.creditsOn {
    color: black;
    text-decoration: none;
    width: screen;
    height: auto;
    align-self: center;
    margin: 0;
    display: none;
}
.creditsOn.darkmode {
    color: white;
}

.creditsImg {
    min-width: 70px;
    min-height: 70px;
    display: inline-block;
    border-radius: 500px;
    background-color: lightgray;
    background-image: url(../../images/index/001.png);
    background-attachment: scroll;
    background-size: 250%;
    background-position: 60% 0;
}

.cTxt {
    margin: 20px 75px;
    letter-spacing: 0.05em;
}
.cTxt:first-of-type {
    margin-top: 30px;
}

footer {
    background: rgb(90,200,100);
    color: white;
    width: screen;
    position: relative;
    height: 65px;
    margin-top: 15px;
    display: flex;
    font-size: 12pt;
    font-weight: 100;
    overflow: hidden;
}
footer.darkmode {
    background: rgb(50,160,60);
}

.footerCred {
    margin-left: 2em;
    display: inline-block;
    align-self: center;
}

.footerCred2 {
    display: inline-block;
    align-self: center;
}

.footerCont {
    display: flex;
}

.footerContAlt {
    display: none;
}

.footerCredDot {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    align-self: center;
}

.footerHome {
    width: auto;
    height: 100%;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgb(50,160,60);
    cursor: pointer;
}

.footerHome:hover {
    background: rgb(30,140,40);
}

.footerHomeNull {
    width: auto;
    height: 100%;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: gray;
    cursor: not-allowed;
}
.footerHomeNull.darkmode {
    background: rgb(50,50,50);
}

.footerNo {
    width: auto;
    height: 100%;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.footerNo.gl {
    font-size: 170%;
}

.footerNoDark {
    background: rgb(70,180,80);
}

.footerNoSel {
    box-shadow: 0 5px white inset;
    background: rgb(50,160,60);
}
.footerNoSel.darkmode {
    box-shadow: 0 5px rgb(30,30,30) inset;
    background: rgb(30,140,40);
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    font-size: 24pt;
    padding: 20px 0;
    margin: 0;
    color: white;
    background: rgb(90,200,100);
    width: 100%;
    height: 45px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}
h1.darkmode {
    color: rgb(30,30,30);
}

h2 {
    font-family: 'Urbane', sans-serif;
    font-weight: 100;
    font-size: 24pt;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    margin: 10px 0 0 0;
    width: 100%;
    display: inline-block;
}
h2.gl {
    font-weight: 400;
    font-size: 300%;
}

.img1 {
    width: 100%;
    height: 550px;
    background-color: lightgray;
    display: grid;
    position: relative;
    background: url(https://pixnio.com/free-images/2018/06/28/2018-06-28-06-54-55.jpg);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.img2 {
    width: 100%;
    height: 360px;
    background-color: lightgray;
    display: grid;
    position: relative;
    margin-bottom: 2em;
    background-image: url(https://live.staticflickr.com/698/32592019461_f2736d36d1_b.jpg);
    background-position: center;
    background-size: cover;
}

.img3 {
    width: 100%;
    height: 480px;
    background-color: lightgray;
    display: grid;
    position: relative;
    margin-bottom: 2em;
    background-image: url(https://d33ljpvc0tflz5.cloudfront.net/dims3/MMH/bf49f4c/2147483647/strip/true/crop/7360x4125+0+394/resize/728x408!/quality/75/?url=https%3A%2F%2Fd26ua9paks4zq.cloudfront.net%2F37%2Ff8%2F5ea2874145dfaf8ccc5013556c10%2Fimage-online-doctor-visit.jpg);
    background-attachment: scroll;
    background-size: cover;
}

.img4 {
    width: 100%;
    height: 600px;
    background-color: lightgray;
    display: grid;
    position: relative;
    margin-bottom: 2em;
    background-image: url(https://snappygoat.com/b/0739a3a75ab62e4ad75dbe5a6702d3b0b9a5e86c);
    background-attachment: scroll;
    background-size: cover;
}

.img5 {
    width: 100%;
    height: 300px;
    background-color: lightgray;
    display: grid;
    position: relative;
    margin-bottom: 2em;
    background-image: url(https://pleasantonweekly.com/news/photos/2020/july/22/21878_col.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: top;
}

.img6 {
    width: 100%;
    height: 400px;
    background-color: lightgray;
    display: grid;
    position: relative;
    margin-bottom: 2em;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b0/SunSet_with_Amazing_Felling_of_Childrens_Happiness.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.img7 {
    width: 100%;
    height: 400px;
    background-color: lightgray;
    display: grid;
    position: relative;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/eb/Manufacturing_line.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.img7-1 {
    width: 100%;
    height: 360px;
    background-color: lightgray;
    display: grid;
    position: relative;
    background-image: url(https://live.staticflickr.com/3082/2697297072_2189c83eda_z.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.img8 {
    width: 100%;
    height: 500px;
    background-color: lightgray;
    display: grid;
    position: relative;
    background-image: url(https://cdn.pixabay.com/photo/2019/05/10/13/43/future-4193557_1280.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.line {
    display: block;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.pQuote {
    border-left: 6px solid rgb(90,200,100);
    font-style: italic;
    padding-left: 1em;
    font-weight: 200;
    font-size: 16pt;
}

.pQuote2 {
    display: flex;
    border-left: 6px solid rgb(90,200,100);
    font-style: italic;
    padding-left: 1em;
    font-weight: 200;
    font-size: 15pt;
}

.pQuoteCont {
    display: block;
    padding: 25px;
    color: rgb(100,100,100);
    text-align: left;
}
.pQuoteCont.darkmode {
    color: white;
}

.pQuoteCred {
    font-weight: 100;
    font-size: 14pt;
    padding-left: 1em;
    margin-top: 0.25em;
    border-left: 6px solid rgba(0,0,0,0);
    color: rgb(150,150,150);
}

.pQuoteCred2 {
    display: block;
    font-weight: 100;
    font-size: 13pt;
    padding-left: 1em;
    padding-top: 0.25em;
    border-left: 6px solid rgba(90,200,100);
    color: rgb(150,150,150);
}

.pQuoteImg {
    display: inline-flex;
    margin-right: 1em;
    min-width: 75px;
    min-height: 75px;
    background-image: url(https://pbs.twimg.com/profile_images/1326764575681900544/2K8_fRTY_400x400.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
}

.txt {
    font-family: 'Urbane', sans-serif;
}
.txt.gl {
    font-weight: 600;
    font-size: 150%;
}

.txt2 {
    font-family: 'Roboto Slab', serif;
}
.txt2.gl {
    font-weight: 400;
    font-size: 150%;
}

body::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: none;
}
::-webkit-scrollbar-thumb {
    background-color: lightgray;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(200,200,200);
}

@media only screen and (max-width: 1200px) {
    .body1 {
        margin: 0 35px;
        width: auto;
        margin-bottom: 2em;
        font-size: 12pt;
    }
    
    .bodyColumn {
        column-count: 2;
    }
    
    .bodyCont {
        margin: 0;
        max-width: none;
    }
    
    .buttonMargin {
        margin-bottom: 0;
    }
    
    .credits {
        font-size: 10pt;
    }
    
    .creditsCont {
        margin: 0 0 15px 35px;
    }
    
    .footerCont {
        display: none;
    }
    
    .footerContAlt {
        display: flex;
    }
    
    h1 {
        padding: 20px 0;
        text-indent: 35px;
    }
    
    h2 {
        padding: 10px 0;
        margin: 15px 0 20px 0;
        font-size: 16pt;
    }
    
    .img1 {
        position: relative;
        width: 100%;
        height: 480px;
        display: block;
    }
    
    .line {
        margin-bottom: 1em;
    }
    
    .pQuote {
        font-size: 14pt;
    }
    
    .pQuote2 {
        font-size: 14pt;
    }
    
    .pQuoteCred {
        font-size: 12pt;
        margin-top: 0.125em;
    }
    
    .pQuoteCred2 {
        font-size: 12pt;
    }
    
    .pQuoteImg {
        min-height: 80px;
        max-height: 80px;
        
    }
}

@media only screen and (max-width: 800px) {
    .bodyColumn {
        column-count: 1;
    }
    
    .buttonMargin {
        margin-bottom: 0;
    }
    
    .caption {
        padding: 1em 2em;
        line-height: 1.5em;
    }
    
    .creditsD {
        display: none;
    }
    
    .creditsDot2 {
        display: none;
    }
    
    footer {
        display: block;
        height: auto;
    }
    
    .footerCred {
        margin-left: 0;
        text-align: center;
        width: 100%;
        height: 40px;
        padding-top: 20px;
    }
    
    .footerHome {
        display: block;
        width: 100%;
        height: 50px;
    }
    
    .footerHomeNull {
        display: block;
        width: 100%;
        height: 50px;
    }
    
    .footerNo {
        display: block;
        width: 100%;
        height: 50px;
    }
    
    .footerNoSel {
        box-shadow: none;
    }
    
    .line {
        margin-bottom: 2em;
    }
    
    .pQuoteImg {
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
    }
    
}

@media only screen and (max-width: 600px) {
    .creditsA {
        display: block;
        margin-right: 5px;
    }
    
    .creditsB {
        display: none;
    }
    
    .creditsC {
        display: block;
    }
    
    .creditsDot {
        display: none;
    }
    
    .creditsOn {
        display: inline-block;
    }
    
    .pQuoteCred2 {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .pQuoteImg {
        min-height: 130px;
        max-height: 130px;
        min-width: 130px;
        max-width: 130px;
    }
}