body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23000000' stroke-width='0.32' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cuse fill='%23050505' href='%23s' y='2'/%3E%3Cuse fill='%23050505' href='%23s' x='1' y='2'/%3E%3Cuse fill='%230a0a0a' href='%23s' x='2' y='2'/%3E%3Cuse fill='%230a0a0a' href='%23s'/%3E%3Cuse fill='%230f0f0f' href='%23s' x='2'/%3E%3Cuse fill='%230f0f0f' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23141414'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23141414'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%231a1a1a'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%231f1f1f'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.mainCont {
    width: auto;
    height: auto;
    margin-top: 1em;
}
.letterCont {
    transition: 0.5s;
    display: grid;
    grid-template-areas: 'main main main main main' 'main main main main main' 'main main main main main' 'main main main main main' 'main main main main main';
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.letterCont:hover .black {
    background-color: rgb(0,255,0);
    margin: 2.5px;
}
.transition1 {
    transition: 0.5s;
}
.transition2 {
    transition: 0.25s;
}
.transition3 {
    transition: 1s;
}

.black {
    background-color: white;
}
.border {
    margin: 1.25px;
}

.aElement1 {
    grid-column: 2;
    grid-row: 1;
    border-top-left-radius: 100px;
}
.aElement2 {
    grid-column: 2;
    grid-row: 2;
}
.aElement3 {
    grid-column: 2;
    grid-row: 3;
}
.aElement4 {
    grid-column: 2;
    grid-row: 4;
}
.aElement5 {
    grid-column: 2;
    grid-row: 5;
}
.aElement6 {
    grid-column: 3;
    grid-row: 1;
}
.aElement7 {
    grid-column: 3;
    grid-row: 3;
}
.aElement8 {
    grid-column: 4;
    grid-row: 1;
    border-top-right-radius: 100px;
}
.aElement9 {
    grid-column: 4;
    grid-row: 2;
}
.aElement10 {
    grid-column: 4;
    grid-row: 3;
}
.aElement11 {
    grid-column: 4;
    grid-row: 4;
}
.aElement12 {
    grid-column: 4;
    grid-row: 5;
}

.bElement1 {
    grid-column: 2;
    grid-row: 1;
}
.bElement2 {
    grid-column: 2;
    grid-row: 2;
}
.bElement3 {
    grid-column: 2;
    grid-row: 3;
}
.bElement4 {
    grid-column: 2;
    grid-row: 4;
}
.bElement5 {
    grid-column: 2;
    grid-row: 5;
}
.bElement6 {
    grid-column: 3;
    grid-row: 1;
}
.bElement7 {
    grid-column: 3;
    grid-row: 3;
}
.bElement8 {
    grid-column: 3;
    grid-row: 5;
}
.bElement9 {
    grid-column: 4;
    grid-row: 1;
    border-top-right-radius: 100px;
}
.bElement10 {
    grid-column: 4;
    grid-row: 2;
    border-bottom-right-radius: 100px;
}
.bElement11 {
    grid-column: 4;
    grid-row: 3;
    border-top-right-radius: 100px;
}
.bElement12 {
    grid-column: 4;
    grid-row: 4;
}
.bElement13 {
    grid-column: 4;
    grid-row: 5;
    border-bottom-right-radius: 100px;
}

.cElement1 {
    grid-column: 2;
    grid-row: 1;
    border-top-left-radius: 100px;
}
.cElement2 {
    grid-column: 2;
    grid-row: 2;
}
.cElement3 {
    grid-column: 2;
    grid-row: 3;
}
.cElement4 {
    grid-column: 2;
    grid-row: 4;
}
.cElement5 {
    grid-column: 2;
    grid-row: 5;
    border-bottom-left-radius: 100px;
}
.cElement6 {
    grid-column: 3;
    grid-row: 1;
}
.cElement7 {
    grid-column: 3;
    grid-row: 5;
}
.cElement8 {
    grid-column: 4;
    grid-row: 1;
    border-top-right-radius: 100px;
}
.cElement9 {
    grid-column: 4;
    grid-row: 5;
    border-bottom-right-radius: 100px;
}

.dElement1 {
    grid-column: 2;
    grid-row: 1;
}
.dElement2 {
    grid-column: 2;
    grid-row: 2;
}
.dElement3 {
    grid-column: 2;
    grid-row: 3;
}
.dElement4 {
    grid-column: 2;
    grid-row: 4;
}
.dElement5 {
    grid-column: 2;
    grid-row: 5;
}
.dElement6 {
    grid-column: 3;
    grid-row: 1;
}
.dElement7 {
    grid-column: 3;
    grid-row: 5;
}
.dElement8 {
    grid-column: 4;
    grid-row: 1;
    border-top-right-radius: 100px;
}
.dElement9 {
    grid-column: 4;
    grid-row: 2;
}
.dElement10 {
    grid-column: 4;
    grid-row: 3;
}
.dElement11 {
    grid-column: 4;
    grid-row: 4;
}
.dElement12 {
    grid-column: 4;
    grid-row: 5;
    border-bottom-right-radius: 100px;
}

.eElement1 {
    grid-column: 2;
    grid-row: 1;
    border-top-left-radius: 100px;
}
.eElement2 {
    grid-column: 2;
    grid-row: 2;
}
.eElement3 {
    grid-column: 2;
    grid-row: 3;
}
.eElement4 {
    grid-column: 2;
    grid-row: 4;
}
.eElement5 {
    grid-column: 2;
    grid-row: 5;
    border-bottom-left-radius: 100px;
}
.eElement6 {
    grid-column: 3;
    grid-row: 1;
}
.eElement7 {
    grid-column: 3;
    grid-row: 3;
}
.eElement8 {
    grid-column: 3;
    grid-row: 5;
}
.eElement9 {
    grid-column: 4;
    grid-row: 1;
}
.eElement10 {
    grid-column: 4;
    grid-row: 5;
}

.fElement1 {
    grid-column: 2;
    grid-row: 1;
    border-top-left-radius: 100px;
}
.fElement2 {
    grid-column: 2;
    grid-row: 2;
}
.fElement3 {
    grid-column: 2;
    grid-row: 3;
}
.fElement4 {
    grid-column: 2;
    grid-row: 4;
}
.fElement5 {
    grid-column: 2;
    grid-row: 5;
}
.fElement6 {
    grid-column: 3;
    grid-row: 1;
}
.fElement7 {
    grid-column: 3;
    grid-row: 3;
}
.fElement8 {
    grid-column: 4;
    grid-row: 1;
}

.gElement1 {
    grid-column: 2;
    grid-row: 1;
    border-top-left-radius: 100px;
}
.gElement2 {
    grid-column: 2;
    grid-row: 2;
}
.gElement3 {
    grid-column: 2;
    grid-row: 3;
}
.gElement4 {
    grid-column: 2;
    grid-row: 4;
}
.gElement5 {
    grid-column: 2;
    grid-row: 5;
    border-bottom-left-radius: 100px;
}
.gElement6 {
    grid-column: 3;
    grid-row: 1;
}
.gElement7 {
    grid-column: 3;
    grid-row: 5;
}
.gElement8 {
    grid-column: 4;
    grid-row: 1;
    border-top-right-radius: 100px;
}
.gElement9 {
    grid-column: 4;
    grid-row: 4;
    border-bottom-left-radius: 100px;
}
.gElement10 {
    grid-column: 4;
    grid-row: 5;
    border-bottom-right-radius: 100px;
}
.gElement11 {
    grid-column: 4;
    grid-row: 2;
    border-bottom-left-radius: 100px;
}

.hElement1 {
    grid-column: 2;
    grid-row: 1;
}
.hElement2 {
    grid-column: 2;
    grid-row: 2;
}
.hElement3 {
    grid-column: 2;
    grid-row: 3;
}
.hElement4 {
    grid-column: 2;
    grid-row: 4;
}
.hElement5 {
    grid-column: 2;
    grid-row: 5;
}
.hElement6 {
    grid-column: 3;
    grid-row: 3;
}
.hElement7 {
    grid-column: 4;
    grid-row: 1;
}
.hElement8 {
    grid-column: 4;
    grid-row: 2;
}
.hElement9 {
    grid-column: 4;
    grid-row: 3;
}
.hElement10 {
    grid-column: 4;
    grid-row: 4;
}
.hElement11 {
    grid-column: 4;
    grid-row: 5;
}

.iElement1 {
    grid-column: 3;
    grid-row: 1;
}
.iElement2 {
    grid-column: 3;
    grid-row: 2;
}
.iElement3 {
    grid-column: 3;
    grid-row: 3;
}
.iElement4 {
    grid-column: 3;
    grid-row: 4;
}
.iElement5 {
    grid-column: 3;
    grid-row: 5;
}

.jElement1 {
    grid-column: 2;
    grid-row: 4;
    border-top-right-radius: 100px;
}
.jElement2 {
    grid-column: 2;
    grid-row: 5;
    border-bottom-left-radius: 100px;
}
.jElement3 {
    grid-column: 3;
    grid-row: 5;
}
.jElement4 {
    grid-column: 4;
    grid-row: 1;
}
.jElement5 {
    grid-column: 4;
    grid-row: 2;
}
.jElement6 {
    grid-column: 4;
    grid-row: 3;
}
.jElement7 {
    grid-column: 4;
    grid-row: 4;
}
.jElement8 {
    grid-column: 4;
    grid-row: 5;
    border-bottom-right-radius: 100px;
}

.creditsBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 50px;
}
.credits {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 14pt;
    line-height: 35px;
}
.creditsText {
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    font-size: 22pt;
    padding: 0 15px 0 15px;
    border: 2.5px solid white;
    border-radius: 5px;
}
.creditsText:hover {
    box-shadow: 0 100px 0 rgba(255,255,255,0.75) inset, 0 20px 0 rgb(255,255,255) inset, 0 0 12.5px rgba(0,0,0,1);
    color: black;
    padding: 0 30px 0 30px;
}